.shopping-bag,
.favorite {
  position: relative;
}

.shopping-bag::before,
.favorite::before {
  content: "0";
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: rgb(255, 0, 0);
  top: -10px;
  right: -10px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

@media (max-width: 767px) {
  .shopping-bag::before,
  .favorite::before {
    height: 15px;
    width: 15px;
    top: -8px;
    right: -8px;
    font-size: 14px;
    font-weight: 600;
  }
}
