@import "tailwindcss";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
}

.grid-wrapper {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-6;
}
.grid-wrapper-2 {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-6;
}

.grid-wrapper-3 {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6;
}

.label-cyan {
  @apply text-sm bg-cyan-500/10 py-1 px-3 text-cyan-500 font-[500] rounded-2xl mx-auto block w-fit;
}
.label-green {
  @apply text-sm bg-green-500/10 py-1  px-3 text-green-500 font-[500] rounded-2xl mx-auto block w-fit;
}
.label-blue {
  @apply text-sm bg-blue-500/10 py-1 px-3 text-blue-500 font-[500] rounded-2xl mx-auto block w-fit;
}
.label-red {
  @apply text-sm bg-red-500/10 py-1 px-3 text-red-500 font-[500] rounded-2xl mx-auto block w-fit;
}
.label-orange {
  @apply text-sm bg-orange-500/10 py-1 px-3 text-orange-500 font-[500] rounded-2xl mx-auto block w-fit;
}

.label-yellow {
  @apply text-sm bg-yellow-500/10 py-1 px-3 text-yellow-500 font-[500] rounded-2xl mx-auto block w-fit;
}

.label-gray {
  @apply text-sm bg-gray-500/10 py-1 px-3 text-gray-500 font-[500] rounded-2xl mx-auto block w-fit;
}

/* ========= label start ========== */
.label-cyan-start {
  @apply text-sm bg-cyan-500/10 py-1 px-3 text-cyan-500 font-[500] rounded-2xl  block w-fit;
}
.label-green-start {
  @apply text-sm bg-green-500/10 py-1  px-3 text-green-500 font-[500] rounded-2xl  block w-fit;
}
.label-blue-start {
  @apply text-sm bg-blue-500/10 py-1 px-3 text-blue-500 font-[500] rounded-2xl  block w-fit;
}
.label-red-start {
  @apply text-sm bg-red-500/10 py-1 px-3 text-red-500 font-[500] rounded-2xl  block w-fit;
}
.label-orange-start {
  @apply text-sm bg-orange-500/10 py-1 px-3 text-orange-500 font-[500] rounded-2xl  block w-fit;
}

.label-yellow-start {
  @apply text-sm bg-yellow-500/10 py-1 px-3 text-yellow-500 font-[500] rounded-2xl  block w-fit;
}

.label-gray-start {
  @apply text-sm bg-gray-500/10 py-1 px-3 text-gray-500 font-[500] rounded-2xl  block w-fit;
}

/* ========= label with icons ========== */

.label-cyan-icons {
  @apply text-sm bg-cyan-500/10 py-1 px-3 text-cyan-500 font-[500] rounded-2xl  flex items-center gap-2 w-fit;
}
.label-green-icons {
  @apply text-sm bg-green-500/10 py-1  px-3 text-green-500 font-[500] rounded-2xl  flex items-center gap-2 w-fit;
}
.label-blue-icons {
  @apply text-sm bg-blue-500/10 py-1 px-3 text-blue-500 font-[500] rounded-2xl  flex items-center gap-2 w-fit;
}
.label-red-icons {
  @apply text-sm bg-red-500/10 py-1 px-3 text-red-500 font-[500] rounded-2xl  flex items-center gap-2 w-fit;
}
.label-orange-icons {
  @apply text-sm bg-orange-500/10 py-1 px-3 text-orange-500 font-[500] rounded-2xl  flex items-center gap-2 w-fit;
}

.label-yellow-icons {
  @apply text-sm bg-yellow-500/10 py-1 px-3 text-yellow-500 font-[500] rounded-2xl  flex items-center gap-2 w-fit;
}

.label-gray-icons {
  @apply text-sm bg-gray-500/10 py-1 px-3 text-gray-500 font-[500] rounded-2xl  flex items-center gap-2 w-fit;
}

/* ========= label with icons rouneded full ========== */

.label-cyan-icons-rounded {
  @apply text-sm bg-cyan-500/10  text-cyan-500 font-[500] rounded-full  flex items-center  w-fit;
}
.label-green-icons-rounded {
  @apply text-sm bg-green-500/10  text-green-500 font-[500] rounded-full  flex items-center  w-fit;
}
.label-blue-icons-rounded {
  @apply text-sm bg-blue-500/10  text-blue-500 font-[500] rounded-full  flex items-center justify-center  w-fit;
}
.label-red-icons-rounded {
  @apply text-sm bg-red-500/10  text-red-500 font-[500] rounded-full  flex items-center  w-fit;
}
.label-orange-icons-rounded {
  @apply text-sm bg-orange-500/10  text-orange-500 font-[500] rounded-full  flex items-center  w-fit;
}

.label-yellow-icons-rounded {
  @apply text-sm bg-yellow-500/10  text-yellow-500 font-[500] rounded-full  flex items-center  w-fit;
}

.label-gray-icons-rounded {
  @apply text-sm bg-gray-500/10  text-gray-500 font-[500] rounded-full  flex items-center  w-fit;
}
.label-indigo-icons-rounded {
  @apply text-sm bg-indigo-500/10  text-indigo-500 font-[500] rounded-full  flex items-center  w-fit;
}
.row-text {
  @apply text-gray-500 text-sm font-semibold;
}

.row-text-btn {
  @apply text-blue-500 text-sm font-semibold cursor-pointer transition duration-300 hover:text-gray-500 hover:scale-95;
}

.row-hover {
  @apply hover:bg-gray-400/5 transition duration-300;
}

.steper {
  @apply relative z-3 before:absolute before:-bottom-[32px] before:-z-1 before:left-1/2 before:h-[32px] before:w-[2px] before:bg-gray-400/40;
}

:root {
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: black white;
}


@layer utilities {
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }


}